{% extends 'formularioFactura.html' %}
{% load static %}

{% block controls %}

<form class="row g-4 needs-validation" novalidate>
  <div class="col-md-1 position-relative">
    <label for="validationTooltip01" class="form-label">Id de Factura</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Id" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

  <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Fecha de Compra</label>
    <input type="date" class="form-control" id="validationTooltip01" placeholder="fecha" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

        <div class="col-md-2">
    <label for="validationCustom04" class="form-label">Establecimiento</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Opciones...</option>
      <option>001</option>
      <option>002</option>
      <option>003</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>



      <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Fecha de Emision</label>
    <input type="date" class="form-control" id="validationTooltip01" placeholder="Emision" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

      <div class="col-md-2 position-relative">
    <label for="validationTooltipUsername" class="form-label">Secuencia</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="validationTooltipUsernamePrepend">ID</span>
      <input class="form-control" type="text" placeholder="003" aria-label="Disabled input example" disabled>
      <div class="invalid-tooltip">
        Please choose a unique and valid username.
      </div>
    </div>
  </div>

            <div class="col-md-3">
    <label for="validationCustom04" class="form-label">Estado</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Opciones...</option>
      <option>Pagado</option>
      <option>Pendiente</option>
      <option>Cancelado</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>

          <div class="col-md-2 position-relative">
    <label for="validationTooltipUsername" class="form-label">Fuente de retención</label>
    <div class="input-group has-validation">
      <input class="form-control" type="text" placeholder="Compras" aria-label="Disabled input example" disabled>
      <div class="invalid-tooltip">
        Please choose a unique and valid username.
      </div>
    </div>
  </div>

          <div class="col-md-1 position-relative">
    <label for="validationTooltipUsername" class="form-label">Retención</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="validationTooltipUsernamePrepend">%</span>
      <input class="form-control" type="text" placeholder="1" aria-label="Disabled input example" disabled>
      <div class="invalid-tooltip">
        Please choose a unique and valid username.
      </div>
    </div>
  </div>


            <div class="col-md-4">
    <label for="validationCustom04" class="form-label">Usuario</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Opciones...</option>
      <option>345_Liliana</option>
      <option>534_Santiago</option>
      <option>003_Melida</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>



            <div class="col-md-4">
    <label for="validationCustom04" class="form-label">Proveedor</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Opciones...</option>
      <option>Maria Chevez</option>
      <option>Hugo Silva</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>




          <div class="col-md-3">
    <label for="validationCustom04" class="form-label">Producto</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Opciones...</option>
      <option>Llanta</option>
      <option>Cereal</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>

             <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Cantidad</label>
    <input type="number" class="form-control" id="validationTooltip01" placeholder="Cantidad" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>




      <div class="col-md-4 position-relative">
    <label for="validationTooltip01" class="form-label">Costo</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Costo" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

         <div class="col-md-4 position-relative">
    <label for="validationTooltip01" class="form-label">Detalle</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Detalle" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>


        <div class="card-footer">
            {% block buttons_list %}
                <a href="{{ crear_url }}" class="btn btn-primary btn-flat btnTest">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg> Registrar
                </a>
                            {% endblock %}
        </div>


    <table class="table table-bordered">
  <thead>
    <tr>
        <th scope="col" style="width: 5%;">Id</th>
        <th scope="col" style="width: 10%;">Fecha</th>
        <th scope="col" style="width: 20%;">Proveedor</th>
        <th scope="col" style="width: 10%;">Producto</th>
        <th scope="col" style="width: 10%;">Detalle</th>
        <th scope="col" style="width: 15%;">Cantidad</th>
        <th scope="col" style="width: 15%;">Precio Unitario</th>
        <th scope="col" style="width: 15%;">Descuento</th>
        <th scope="col" style="width: 15%;">Total</th>
    </tr>
  <tbody>
    <tr>
      <th scope="row">12345</th>
      <td>6/8/2022</td>
      <td>Maria Chevez</td>
      <td>Llanta</td>
        <td>Para Autos</td>
      <td>4</td>
      <td>45.00</td>
      <td>59.96</td>
      <td>180.00</td>
   </tr>
    <tr>
      <th scope="row">35436</th>
      <td>6/8/2022</td>
      <td>Maria Chevez</td>
      <td>Cereal</td>
        <td>Alimento sabor a Chocolate</td>
      <td>4</td>
      <td>7.00</td>
      <td>0.0</td>
      <td>28.00</td>
   </tr>
  </tbody>
</table>

<div class="card" style="width: 14rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">SUBTOTAL   208$</li>
    <li class="list-group-item">IVA  12% </li>
  </ul>
  <div class="card-footer">
    TOTAL 232.96$
  </div>
</div>

{% endblock %}


</form>




