{% extends 'formularioFactura.html' %}
{% load static %}

{% block controls %}

<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-1 position-relative">
    <label for="validationTooltip01" class="form-label">ID</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Id" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

  <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Fecha de Compra</label>
    <input type="date" class="form-control" id="validationTooltip01" placeholder="fecha" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

  <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Establecimiento</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Establecimiento" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

      <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Emision</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Emision" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

          <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Secuencia</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Secuencia" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>


      <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Estado</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Estado" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

      <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Subtotal</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Subtotal" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

          <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Descuento</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Descuento" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>


      <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Retención</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Retención" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

      <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Fuente de Retención</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Fuente" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

          <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Total</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Total" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>


          <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Usuario</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Usuario" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

      <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Fecha de Registro</label>
    <input type="date" class="form-control" id="validationTooltip01" placeholder="Fecha" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

          <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Iva</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Iva" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

             <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Proveedor</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Id" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>


              <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Detalle de Factura</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Detalle" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>


          <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Item</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Item" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

      <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Detalle</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Detalle" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

          <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Factura</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Id" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

             <div class="col-md-2 position-relative">
    <label for="validationTooltip01" class="form-label">Cantidad</label>
    <input type="number" class="form-control" id="validationTooltip01" placeholder="Cantidad" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>


      <div class="col-md-3">
    <label for="validationCustom04" class="form-label">Producto</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Opciones...</option>
      <option>Llanta</option>
      <option>Cereal</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>

      <div class="col-md-4 position-relative">
    <label for="validationTooltip01" class="form-label">Costo</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Costo" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>

      <div class="col-md-4 position-relative">
    <label for="validationTooltip01" class="form-label">Descuento Unitario</label>
    <input type="text" class="form-control" id="validationTooltip01" placeholder="Descuento" required>
    <div class="valid-tooltip">
      Looks good!
    </div>
  </div>


<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
  <label class="form-check-label" for="flexRadioDefault2">
    Descontinuado
  </label>
</div>

    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
  </ul>
  <div class="card-footer">
    Card footer
  </div>
</div>

{% endblock %}


</form>




